table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.errorMessage{
  text-align: center;
  color: red;
  font-weight: bold;
  font-size: large;
}

.mainDiv{
  padding: 10%;
}

.spinnerDiv{
  text-align: center;
}

i{
  cursor: pointer;
}
